body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px 100px 10px 100px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2e0c06;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    font-size: 0.8em;
}

header p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

footer {
    background: #35424a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
    text-align: justify;
}

button {
    padding: 10px 20px;
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}
